# JupyterLab extensions
ipywidgets~=7.4.0
jupyterlab-git~=0.4.0
jupyterlab_latex~=0.4.0
jupyterlab_swift~=0.2.0
tqdm~=4.0

# Commonly-used libraries
matplotlib~=3.0
numpy~=1.15
pandas~=0.23.0
scipy~=1.1
seaborn~=0.9.0

# OpenStack clients
gnocchiclient~=7.0
keystoneauth1~=3.0
python-blazarclient~=2.0
python-cinderclient~=4.0
python-glanceclient~=2.0
python-heatclient~=1.0
python-ironicclient~=2.0
python-keystoneclient~=3.0
python-neutronclient~=6.0
python-novaclient~=11.0
python-openstackclient~=3.0
python-swiftclient~=3.6.0

# ChameleonCloud-provided
git+git://github.com/ChameleonCloud/python-chi.git@76fec3a8b71b2a3636ddd007162aa562460feb2e#egg=python-chi
